span.b {
  display: inline-block;
  width: 300px;
  height: 225px;
  padding: 5px;
  border: 1px solid rgba(37, 53, 81, 1);    
  background-color: white; 
  margin-top: 10px;
}
span.c {
  display: inline-block;
  width: 530px;
  height: 400px;
  padding: 5px;
  border: 1px solid rgba(37, 53, 81, 1);    
  background-color: rgba(37, 53, 81, 1); 
  margin-bottom: 10px;
}
.heading{
    font-style: sans-serif;
    color:  rgba(37, 53, 81, 1);
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.chart{
    font-style:sans-serif;
    color:  rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}