body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #dde8f0;
}
.nav {
  overflow: hidden;
  background-color: #004581;
}
.nav a {
  float: left;
  padding: 10px 16px;
  text-decoration: none;
  color: beige;
  font-size: 18px;
  text-align: center;
}
.middle a {
  float: right;
}
.nav .icon {
  display: none;
}
.nav a:hover {
  color: cornflowerblue;
}
@media screen and (max-width: 936px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 936px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive {
    float: none;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 936px) {
  html {
    font-size: 50%;
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 80vh;
  /* align-items: center; */
  background: url(../images/home1.jpg);
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 4rem;
  padding-left: 5rem;
  text-align: left;
}

.home .content h3 {
  font-size: 4rem;
  color: #000000;
}
.home .content h2 {
  padding-top: 7rem;
  font-size: 20px;
  color: #fff;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  /* width: 300%; */
  padding: 1rem;
}

.about .container .image img {
  /* height: 5rem; */
  /* width: 1%; */
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.about .container .image {
  /* width: 300%; */
  /* margin-left: 190px; */
  /* flex: 1 1 300rem; */
  padding-bottom: auto;
}

.about .container {
  /* position: absolute; */
  display: flex;
}

.about .container .content {
  font-size: 20px;
  color: black;
  padding-left: 3rem;
  /* padding-top: 3rem; */
  line-height: 150%;
}

.about {
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  text-justify: inter-word;
}

section#contact {
  background-color: #212529;
  background-image: url(../images/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.popular .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.popular .container .box .btn {
  align-items: center;
}

.popular .container .box {
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem sold rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  /* text-align: center; */
  /* flex: 1 1 20rem; */
  position: relative;
  width: 25%;
}

.popular .container .box img {
  height: 18rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .container .box .price {
  margin-right: 0;
  margin-left: auto;
  color: var(--orange);
  font-size: 2.5rem;
  padding-top: 1rem;
  font-weight: bolder;
}

.popular .container .box h3 {
  color: rgb(102, 102, 102);
  font-size: 25px;
  padding-top: 1rem;
}

.popular .container .box .stars i {
  color: rgb(119, 0, 255);
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

.popular {
  padding-top: 1.5rem;
}

.popular .container .box .content-container {
  display: block;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  text-align: center;
}

.popular .explore-menu {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular .explore-menu .btn {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}
.btn {
  background-color: #004581;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:10px 50px;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
}
@media (max-width: 1200px) {
  .btn {
    font-size: 80%;
    width: 80%;
  }

  .popular .container .box h3 {
    font-size: 150%;
  }
}




.hotel .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  margin-top: 35px;
}

.hotel .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.hotel .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.hotel .box-container .box .content{
  padding:2rem;
}

.hotel .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.hotel .box-container .box .content h3 i{
  color:var(--orange);
}

.hotel .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.hotel .box-container .box .content .stars i{
  font-size:1.7rem;
  color:var(--orange);
}

.hotel .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.hotel .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

section{
  padding:2rem 9%;
}

/* search */
  .searchSec {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0.5vh 1vw;
    position: relative;
    justify-content: start;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 240px;
    /*border: 0.5px solid var(--mainColor);*/
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    height: 50px;
}

.page-title {
    flex-grow: 1;
    font-size: 1.3rem;
    font-weight: 900px;
}

.icon {
    padding: 10px;
    min-width: 50px;
    text-align: center;
    color: var(--mainColor);
}

.input-field {
    width: 80%;
    padding: 10px;
    outline: none !important;
    border: 0 !important;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.btns {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    background-color: #004581;
    text-align: center;
    /* display: inline; */
    cursor: pointer;
    border-radius: .5rem;
    padding: 10px;
    /* margin-left: 1rem; */
    color: white;
    font-size: 18px;
}
/* Media query for screens with a max width of 767px */
  @media (max-width: 767px) {
    .searchSec {
      margin-top: 1rem;
    }

    table {
      width: 100%;
    }

    th, td {
      display: block;
      text-align: left;
    }
    
    th {
      font-size: 0.9rem;
      padding: 0.5rem;
    }

    td {
      margin-bottom: 1rem;
      padding: 0 0.5rem;
    }

    .input-container {
      width: 50%;
    }

    .btns {
      margin-top: 1rem;
    }
  }

