body {margin:0;}

body {
    background-repeat: no-repeat;
    background-color: #0789C6;
    background-size: cover;
    
}

.p{
    color: rgba(39, 36, 204, 0.719);

}

.nalloor{
    position: relative;
    float: left;
    left: 110px;
    top: 45px;

}

.jaffna{
    position: relative;
    float: left;
    left: 220px;
    top: 45px;

}

.data {
    font-family: montserrat;
    border-collapse: collapse;
    width: 70%;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 10%;
  }
  
  /* td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } */

.detail{
display: block;
margin-top: 30%;
margin-left: 7.5%;
}

.detail2{
    display: block;
    margin-top: -9%;
    margin-left: 20%;
}
.h1{
    color:white;
    float: left;
    left: 110px;
    top: 60px;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }