/* html {
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 6rem;
        scroll-behavior: smooth;
    } */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.hotel {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}
p.sub {
  color: rgb(0, 0, 0);
  padding: 0px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
div.search {
  color: rgb(0, 0, 0);
  padding: 0px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
}
.subfield {
  font-family: sans-serif;
  width: 200px;
  height: 32px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
}
.pay {
  display: block;
  border: 0;
  position: relative;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  background-image: -webkit-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}
.payhotel {
  display: inline-block;
  border: 0;
  position: relative;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  background-image: -webkit-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 5px;
  margin-top: 0;
}
/* .form-check-input[type=checkbox] {
  border-radius: 0.25em;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
 */
/* The container */
.ckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.ckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ckbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ckbox .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.productlist {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.popular .productlist .box .btn {
  align-items: center;
}

.popular .productlist .box {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem sold rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 20rem;
  /* width: 40%; */
}
.box {
  width: 25%;
  float: left;
  margin-bottom: 15px;
  margin-right: 10px;
}
.popular .productlist .box img {
  height: 15rem;
  object-fit: cover;
  /* width: 100%; */
  border-radius: 0.5rem;
}

.cart {
  background-color: #004581;
  border: none;
  color: white;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px 12px;
  cursor: pointer;
  border-radius: 5px;
  width: 40%;
}
.addcart {
  background-color: #004581;
  border: none;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 18px;
  margin: 15px 12px;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
}
